body {
}


.cover {
    width: 100%;
    float: left;
}

.menu {
    margin: auto;
    position: relative;
    height: 100px;
    width: 60vw ;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999
}
.wrap-main-nav {
    background: #fff;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}

* {
    margin: 0;
    padding: 0;
    webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
    ms-box-sizing: border-box;
    text-rendering: optimizeLegibility;
}
ul {
    list-style-type: none
}

.parentul > li {
    float: left;
    margin: 30px;
    color: red;
    font: 400 15px arial;
    min-height: 5vh;
    display :table-row;
    
}



    .parentul > li > ul {
        position: absolute;
        display: none;
        border-block: hidden;
        color:yellow
    }

    .parentul > li:hover > ul {
        display: block;
    }

    .parentul > li:hover {
        background-color: white;
        width: auto;
        margin-block: 40px
    }

    .parentul > li > ul > li:hover {
        background-color: red ;
        
    }

.maindiv {
    width: 1105px;
    margin: auto;
    display: flex
}

    .maindiv > div:first-child {
        width: 780px;
    }

    .maindiv > div:last-child {
        width: 320px;
    }

    .maindiv > div:first-child {
        width: 780px;
    }


.bignews {
    display: flex
}

    .bignews > div:first-child {
        width: 60%
    }

        .bignews > div:first-child > img {
            width: 100%
        }

    .bignews > div:last-child {
        width: 35%;
        margin-left: auto;
        margin-right: auto
    }
